/* Inline SVG icons */
$update-icon: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="33"><use fill="%23E0E0E0" xlink:href="%23path0_fill"/><use fill="%23FFF" transform="translate(9 13.513)" xlink:href="%23path1_fill"/><use transform="translate(8.1 8.108)" xlink:href="%23path2_fill"/><g transform="translate(12.6 15.315)"><use xlink:href="%23path3_fill"/><use xlink:href="%23path4_fill"/></g><defs><path id="path0_fill" d="M32.407 16.216c0 8.956-7.254 16.216-16.203 16.216C7.254 32.432 0 25.172 0 16.216 0 7.26 7.255 0 16.204 0c8.949 0 16.203 7.26 16.203 16.216z"/><path id="path1_fill" d="M0 0h14.403v9.91H0V0z"/><path id="path2_fill" d="M15.582 1.115h-4.365V.611A.616.616 0 0 0 10.595 0a.616.616 0 0 0-.621.61v.505H6.23V.611A.616.616 0 0 0 5.608 0a.616.616 0 0 0-.621.61v.505H.622A.616.616 0 0 0 0 1.726v13.88c0 .337.278.61.622.61h14.96a.616.616 0 0 0 .622-.61V1.726a.616.616 0 0 0-.622-.61zM4.987 2.337v.945c0 .337.278.61.621.61a.616.616 0 0 0 .622-.61v-.945h3.744v.945c0 .337.278.61.621.61a.616.616 0 0 0 .622-.61v-.945h3.743v2.452H1.243V2.337h3.744zM1.243 14.995V6.01H14.96v8.985H1.243z"/><path id="path3_fill" d="M2.451 2.274c.338.012.636.106.894.284.264.178.467.412.608.702.142.284.212.589.212.915 0 .432-.1.81-.304 1.137-.202.32-.488.565-.857.737-.368.171-.798.257-1.29.257A2.824 2.824 0 0 1 .47 6.013c-.227-.118-.341-.278-.341-.48 0-.142.052-.272.157-.39a.486.486 0 0 1 .378-.178c.122 0 .254.045.396.133.264.196.556.293.875.293.19 0 .372-.044.544-.133a1.1 1.1 0 0 0 .415-.4 1.12 1.12 0 0 0 .166-.603c0-.32-.102-.569-.305-.747a1.034 1.034 0 0 0-.718-.266c-.123 0-.23.012-.323.035a4.607 4.607 0 0 0-.166.045c-.16.047-.292.071-.396.071a.412.412 0 0 1-.323-.133.52.52 0 0 1-.12-.347c0-.083.016-.157.047-.222a.841.841 0 0 1 .156-.213L2.341.977H.516A.51.51 0 0 1 .147.835.473.473 0 0 1 0 .48C0 .343.05.23.147.142A.51.51 0 0 1 .517 0h2.819c.184 0 .326.05.424.151a.506.506 0 0 1 .147.382c0 .142-.073.284-.22.426L2.45 2.274z"/><path id="path4_fill" d="M6.658 0a.52.52 0 0 1 .387.16c.104.1.157.228.157.382v5.134a.51.51 0 0 1-.175.39.64.64 0 0 1-.434.151.606.606 0 0 1-.424-.15.522.522 0 0 1-.165-.391v-4.21l-.572.337a.58.58 0 0 1-.295.08.536.536 0 0 1-.396-.169.537.537 0 0 1-.157-.373c0-.095.025-.183.074-.266A.599.599 0 0 1 4.87.879l1.392-.8A.869.869 0 0 1 6.658 0z"/></defs></svg>';
$pagecount-icon: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="34"><use fill="%23E0E0E0" transform="translate(0 .874)" xlink:href="%23path0_fill"/><use fill="%23FFF" transform="translate(13.5 8.658)" xlink:href="%23path1_fill"/><use transform="translate(7.93 8.065)" xlink:href="%23path2_fill"/><defs><path id="path0_fill" d="M32.407 16.216c0 8.956-7.254 16.216-16.203 16.216C7.254 32.432 0 25.172 0 16.216 0 7.26 7.255 0 16.204 0c8.949 0 16.203 7.26 16.203 16.216z"/><path id="path1_fill" d="M0 0h9.902v17.117H0V0z"/><path id="path2_fill" fill-rule="evenodd" d="M6.232 16.817h8.725V1.2H6.232v15.616zm-3.74-1.201h.624c.344 0 .623-.27.623-.601 0-.332-.279-.6-.623-.6h-.623v-1.202h.623c.344 0 .623-.269.623-.6 0-.332-.279-.601-.623-.601h-.623v-1.201h.623c.344 0 .623-.27.623-.6 0-.332-.279-.601-.623-.601h-.623V8.408h.623c.344 0 .623-.269.623-.6 0-.332-.279-.6-.623-.6h-.623V6.005h.623c.344 0 .623-.27.623-.6 0-.332-.279-.601-.623-.601h-.623V3.604h.623c.344 0 .623-.27.623-.601 0-.332-.279-.6-.623-.6h-.623V1.2h2.493v15.616H2.493v-1.201zM15.58 0H1.87a.612.612 0 0 0-.624.6v1.802H.623A.612.612 0 0 0 0 3.003c0 .332.28.6.623.6h.623v1.202H.623a.612.612 0 0 0-.623.6c0 .332.28.601.623.601h.623v1.201H.623a.612.612 0 0 0-.623.6c0 .332.28.601.623.601h.623V9.61H.623a.612.612 0 0 0-.623.6c0 .332.28.6.623.6h.623v1.202H.623a.612.612 0 0 0-.623.6c0 .332.28.601.623.601h.623v1.201H.623a.612.612 0 0 0-.623.601c0 .332.28.6.623.6h.623v1.802c0 .332.28.601.624.601h13.71c.344 0 .624-.27.624-.6V.6c0-.332-.28-.601-.624-.601z"/></defs></svg>';
$formats-icon: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="34"><use fill="%23E0E0E0" transform="translate(0 .728)" xlink:href="%23path0_fill"/><use fill="%23FFF" transform="translate(6.84 8.604)" xlink:href="%23path1_fill"/><use transform="translate(6.03 8.214)" xlink:href="%23path2_fill"/><defs><path id="path0_fill" d="M32.407 16.216c0 8.956-7.254 16.216-16.203 16.216C7.254 32.432 0 25.172 0 16.216 0 7.26 7.255 0 16.204 0c8.949 0 16.203 7.26 16.203 16.216z"/><path id="path1_fill" d="M3.964 0h10.803v1.835l3.592.963-3.96 14.793-5.424-1.454-5.05 1.395L0 3.303l3.964-1.095V0z"/><path id="path2_fill" fill-rule="evenodd" d="M16.12 11.99V3.483l2.21.623-2.21 7.884zm-4.872 4.51h3.607l-.263.942-3.344-.942zm-6.036.942L4.95 16.5h1.422l.007.004 1.082.304-2.248.634zM3.788 3.454v8.904L1.474 4.106l2.314-.652zm1.32-2.13H14.8v1.312c0 .022-.003.044 0 .066v12.475H5.108V1.323zM19.323 3.01l-3.203-.902V.662A.661.661 0 0 0 15.46 0H4.448a.661.661 0 0 0-.66.662v1.417L.482 3.01a.663.663 0 0 0-.457.817l4.095 14.61a.664.664 0 0 0 .813.458l4.97-1.399 4.968 1.4a.66.66 0 0 0 .813-.458L19.78 3.826a.663.663 0 0 0-.456-.817z"/></defs></svg>';
$experts-icon: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="33"><use fill="%23E0E0E0" transform="translate(0 .045)" xlink:href="%23path0_fill"/><use fill="%23FFF" transform="translate(8.1 7.111)" xlink:href="%23path1_fill"/><use transform="translate(6.03 6.335)" xlink:href="%23path2_fill"/><use transform="translate(13.5 11.616)" xlink:href="%23path3_fill"/><defs><path id="path0_fill" d="M32.407 16.216c0 8.956-7.254 16.216-16.203 16.216C7.254 32.432 0 25.172 0 16.216 0 7.26 7.255 0 16.204 0c8.949 0 16.203 7.26 16.203 16.216z"/><path id="path1_fill" d="M16.204 8.108c0 4.478-3.628 8.108-8.102 8.108C3.627 16.216 0 12.586 0 8.108 0 3.63 3.627 0 8.102 0c4.474 0 8.102 3.63 8.102 8.108z"/><path id="path2_fill" fill-rule="evenodd" d="M17.03 17.572a.707.707 0 0 0-.529.359l-.552 1.003-1.648-2.376a8.885 8.885 0 0 0 2.141-1.607l1.718 2.475-1.13.146zM2.598 8.807c0-4.085 3.356-7.41 7.483-7.41s7.483 3.325 7.483 7.41c0 1.71-.611 3.267-1.597 4.522-.03.034-.063.065-.084.102-.751.92-1.697 1.675-2.804 2.157a.733.733 0 0 0-.183.077 7.478 7.478 0 0 1-2.815.553c-4.127 0-7.483-3.323-7.483-7.41zM4.15 18.934l-.552-1.003a.705.705 0 0 0-.53-.36l-1.127-.145 1.743-2.512a8.932 8.932 0 0 0 2.132 1.62l-1.666 2.4zm15.826-1.36l-2.6-3.744a8.696 8.696 0 0 0 1.598-5.023C18.974 3.952 14.984 0 10.08 0 5.177 0 1.186 3.952 1.186 8.807c0 1.85.581 3.563 1.567 4.982L.125 17.574a.69.69 0 0 0-.064.68c.1.222.31.378.552.41l1.918.248.929 1.69c.117.212.338.35.582.363.013.002.024.002.037.002.232 0 .45-.113.582-.303l2.468-3.556a8.94 8.94 0 0 0 2.95.508 8.95 8.95 0 0 0 2.904-.49l2.456 3.537a.71.71 0 0 0 .581.304c.013 0 .025 0 .038-.002a.71.71 0 0 0 .583-.363l.929-1.69 1.916-.249a.706.706 0 0 0 .553-.41.693.693 0 0 0-.063-.679z"/><path id="path3_fill" d="M2.853 0c.211 0 .389.062.532.185a.547.547 0 0 1 .216.443V6.58c0 .179-.08.33-.241.453a.987.987 0 0 1-.596.175.931.931 0 0 1-.583-.175.564.564 0 0 1-.228-.453V1.7l-.787.391a.914.914 0 0 1-.405.093.81.81 0 0 1-.545-.196C.072 1.857 0 1.713 0 1.555c0-.11.034-.213.101-.31a.788.788 0 0 1 .292-.226L2.308.093C2.45.03 2.633 0 2.853 0z"/></defs></svg>';

$clock-icon: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22" height="25"><style>.coloring{fill:%23EB5757}</style><use class="coloring" xlink:href="%23path0_fill"/><use class="coloring" transform="translate(10.09 5.737)" xlink:href="%23path1_fill"/><defs><path id="path0_fill" fill-rule="evenodd" d="M1.995 13.691c0-4.817 3.995-8.736 8.908-8.736 4.911 0 8.906 3.919 8.906 8.736 0 2.408-.998 4.59-2.608 6.172 0 .002-.003.002-.003.002l-.004.005a8.968 8.968 0 0 1-6.291 2.558c-4.913 0-8.908-3.918-8.908-8.737zM1.82 5.567a.917.917 0 0 1 .196-1.297l3.417-2.488a.965.965 0 0 1 .563-.181c.288 0 .573.128.76.375l.218.288c.31.41.222.992-.196 1.298L3.36 6.048a.963.963 0 0 1-1.323-.192l-.217-.289zm12.836-3.303l.218-.288a.961.961 0 0 1 1.322-.194l3.418 2.488a.918.918 0 0 1 .196 1.297l-.217.289a.96.96 0 0 1-1.323.192L14.85 3.562a.918.918 0 0 1-.197-1.298zm4.847 5.47a2.556 2.556 0 0 0 1.401-.923l.22-.29a2.5 2.5 0 0 0-.537-3.538L17.168.497c-1.142-.83-2.76-.597-3.606.524l-.219.288a2.484 2.484 0 0 0-.385 2.245c-.665-.13-1.353-.2-2.055-.2-.77 0-1.519.086-2.242.24a2.486 2.486 0 0 0-.376-2.285l-.219-.288C7.22-.097 5.603-.334 4.46.497L1.04 2.983a2.5 2.5 0 0 0-.535 3.538l.219.29c.392.517.95.839 1.548.962a10.132 10.132 0 0 0-1.911 5.918c0 2.563.96 4.907 2.541 6.714L.6 22.664a.79.79 0 0 0 0 1.132.829.829 0 0 0 1.157 0l2.301-2.258a10.61 10.61 0 0 0 6.845 2.492c2.611 0 5-.943 6.845-2.492l2.301 2.258a.829.829 0 0 0 1.155 0 .79.79 0 0 0 0-1.132l-2.301-2.259c1.579-1.807 2.54-4.15 2.54-6.714 0-2.219-.723-4.27-1.941-5.958z"/><path id="path1_fill" fill-rule="evenodd" d="M5.156 11.078L1.633 7.622V.801A.808.808 0 0 0 .817 0 .81.81 0 0 0 0 .801v7.153c0 .213.087.416.24.565l3.761 3.691a.822.822 0 0 0 1.155 0 .79.79 0 0 0 0-1.132z"/></defs></svg>';

div {
  //outline: 1px rgba(255, 0, 0, .2) dashed;
}

html{
  font-size: 18px;
  line-height: 27px;
}

nav.navbar {
  background-color: #3a3a3a;
}

/* titlebar */

.title-area {
  padding: 0rem 0 1rem 0;
}

/* hero */

.hero-body {
  background-color: #3a3a3a;
  background-image: linear-gradient(to top, rgba(53, 53, 53, .7), rgba(40, 40, 40, .5)), url(https://d39ayi7b6b3haj.cloudfront.net/premium/assets/application/pattern-final-97f8521dddccc7276dd58a58cc1db2ee31d2cae86d003377d2fe3800e8af5adf.png), linear-gradient(to top, rgba(53, 53, 53, 1), rgba(52, 52, 52, 1));
  padding: 0 1.5rem;
  .hero-pitch {
    color: #f2f2f2;
  }
  img.book-cover {
    width: 100% !important;
  }
}

.booktitle-inline {
  font-style: italic
}

.hero-pitch {
  margin: 1rem;
  font-size: 1.25rem;
  line-height: 3.75rem;
}

.buttons a.button.demo {
  background: #FA3292;
  padding: 0 5rem;
  font-weight: 800;
  font-size: 1.75rem;
  border-radius: 0;
  border-bottom: .75vh solid #BA296F;
}
.buttons a.button.buy {
  background: #9B51E0;
  padding: 0 5rem;
  font-size: 1.75rem;
  font-weight: 800;
  border-radius: 0;
  border-bottom: .75vh solid #7D41B5;
}


.vert-2 {
  padding: 2rem 0;
}

.vert-3 {
  padding: 3rem 0;
}

.vert-4 {
  padding: 4rem 0;
}

.vert-5 {
  padding: 5rem 0;
}

/* ---  main blurb  ----  */


.main-body-blurb {
  h2{
    line-height: 3.5rem
  }
  p{
    line-height: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}


/* ---  MODAL  ----  */

.modal-card,
.modal-content {
  max-height: calc(100vh - 40px);
  width: 90%;
  height: 90vh;
}
iframe {
  max-height: calc(100vh - 40px);
  width: 100%;
  height: 90vh;
}
.modal-card-foot{
  justify-content: flex-end;
}

#pdfviewer {
  height: 100vh;
}

/* ---  CTA PANEL  ----  */

.panel-cta{
  background: #f5f5ef;
  border-radius: 3px;
  padding: 2rem 0;
  width: 90%;
  text-align: center;
  margin-left: 10%;

  box-shadow: 1px 3px 10px rgba(0, 0, 0, .1);
}
.move-up{
  margin-top: -7rem; 
}

.panel-cta-price{
  font-size: 5rem;
  font-weight: 700;
}
.panel-cta-discount{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #0db49e
}

.panel-cta-countdown{
  font-size: 1.2rem;
  font-weight: 700;
  width: 15em;
  padding-left: 2rem;
  margin: 0 auto 1rem;
  color: #EB5757;
  background: 
  url($clock-icon) left center / auto 100% no-repeat;
}

.panel-cta-features{ /* list */
  margin: 1rem;
  font-size: 1.25rem;
  width: 60%;
  margin: 0 auto;
  text-align: left;
  li{
    padding-left: 3rem;
    height: 2.2rem;
    line-height: 2rem;
    margin: .75rem 0
  }
}
.feature-update{
background:
    url($update-icon) left center / auto 100% no-repeat;
}
.feature-pagecount{
  background:
      url($pagecount-icon) left center / auto 100% no-repeat;
  }
.feature-formats{
  background:
      url($formats-icon) left center / auto 100% no-repeat;
  }
.feature-experts{
  background:
      url($experts-icon) left center / auto 100% no-repeat;
  }



/* Three-questions */ 

.three-questions{
  background-image: url(https://raw.githubusercontent.com/alexmwalker/Complete-Cover-Archive/master/misc/3bigq-tile.png); 
  box-shadow: 1px 3px 10px rgba(0, 0, 0, .1);
  //outline: 1px red dashed;
  z-index: 9;
}
.question-title h2{
  line-height: 3rem;
  img{
    margin-right: 1rem;
  }
}
.numberlist{
  font-size: 1.5rem;
  li {
    margin: .75rem;
    font-weight: 700;
    span{
    background: #F05123;
    position: relative;
    display: block;
    margin: 0 2rem 0 0;
    float: left;
    color: #fff;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    font-weight: 700;
    }
  }
}

 /* What you'll learn */ 

.youlllearn{
  background: #f9f9fc;  
}
.page-preview img{
  width: 100%;
  
}

  /* Who should read this book? */ 

  .who-is-this-for .heading img {
    width: 45%;
  }


  
/* Student feedback */ 

.feedback{
  background: #f9f9fc;
}
.feedback-unit{
  background: #fff;
  position: relative;
  padding: 2rem 1.25rem 4rem 1.25rem;
  line-height: 1.85rem;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, .1);
  border-radius: 2px
}
.credit{
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  bottom: .25rem;
  right: 1.5rem;
  img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 4px solid #f2f2f2;
    position: relative;
    bottom: -2rem;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, .1);
  }
}
.stars {
font-size: 2rem;
display: block;
text-align: center;
color: #F2994A;
margin-bottom: 1rem;
}


/* --- CLOSER -- */ 

table td{
  font-size: 1.25rem;
  line-height: 3rem;
  padding: 0 1rem 0 0;
}










  /* 3d Book CSS */

  @mixin makemearealboy {
    // re-used to set up :before :after pseudo elements
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }
  
  $paperedge: #eee; // TODO: the paper edges of the book - a subtle #fefefe -> #f1f1f1 CSS gradient might be nicer here
  
  $lighting-effect: linear-gradient(100deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0.25) 50%, rgba(255,255,255,0) 100%); // The surface effect: mostly transparent white and black gradients
  
  img{ // some CSS resets set this to 100% - we don't want that here
   max-width: none
  };
  
  
  /*
   $aspect-ratio is either 7:9 (.76) or 8:10 (.8) ratio for all SitePoint books and shouldn't change unless the book format changes. */
  
  $aspect-ratio:       7/9.15;
  //$aspect-ratio:       8/10;
  $spine-ratio:        0.06; // standard width book spines
  $spine-ratio-chunky: 0.09;  // for books with fatter spines
  $book-perspective:   3.5;  // Lower numbers make appearance more warped by perspective. 
  
  /* -- Spin speed -- */
  
  $spin-speed: 12s; 
  
  /* -- Preset Book Display Sizes -- */
  
  
  /* WIDTHS  */
  //$height-large: 37vh;
  
  /* HEIGHTS  */
  $width-large: 20vw;//  $height-large * $aspect-ratio;

  $height-large: $width-large * (9.15/7);
  
  /* SPINES  */
  $spine-large: $height-large * $spine-ratio;
  
  /* CHUNKY SPINES */
  $spine-large-chunky: $height-large * $spine-ratio-chunky;
  
  /* Calculate other book dimensions */
  
  
  
  .book.size-large {
    height: $height-large;
    width: $width-large;
    perspective: $height-large * $book-perspective;
    .backcover {
      transform: rotateY(180deg) translateZ($spine-large);
      &:before,
      &:after {
        width: $spine-large;
      }
    }
  }
// adjustments for wider spine (class .chunky)
  .book.size-large.chunky {
    .backcover {
      transform: rotateY(180deg) translateZ($spine-large-chunky);
      &:before,
      &:after {
        width: $spine-large-chunky;
      }
    }
  }
  .book {
    // book container
    margin: 2em;
    position: relative;
  }
    
  .cover {
    /* This is a mask to crop the IMG to only cover */
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .15), 3px 3px 4px rgba(0, 0, 0, .3), 6px 6px 4px rgba(0, 0, 0, .1); // for flat render only
    &:after {
      /* the reflection effect across the IMG cover */
      @include makemearealboy;
      height: 100%;
      width: 100%;
      opacity: 1;
      background-image: $lighting-effect;
      background-size: 180% 200%;  
      background-position: 0% 100%; 
      background-repeat: repeat;
      top: 0;
      left: 0;
      position: relative;
      z-index: 12;
    }
  }
  
  .view3d .cover {
    box-shadow: none;
    /* remove anchoring shadow in 3D view */
  }
  
  .cover img {
    float: right;
    height: 100%;
  }
  
  .view3d .bookgroup {
    // an added wrapper via JS
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transform: rotateY(0deg) rotateX(0deg); //default view
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 1.5s ease-out;
    &:before,
    &:after { // top edge
      @include makemearealboy;
      transform-style: preserve-3d;
      background: $paperedge;
      top: 0%;
      transform-origin: 0% 0%;
      width: 100%;
      height: (100%*$spine-ratio);
      transform: rotateY(0deg) rotateX(-90deg) translateX(0px); //default view
    }
    &:after { // base edge (inc 'grounding' shadow)
      top: 100%;
      background: #3a3a3a;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, .75), 2px 2px 15px rgba(0, 0, 0, .5);
    }
  }
  
  .backcover {
    // Generated JS : Div containing current cover of BG
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    //background: red, red;
    background-size: 500% 200%, auto 100%;  
    background-position: -200% 100%, left top ;
    position: absolute;
    top: 0px;
    z-index: -1;
    right: 0px;
    &:before,
    &:after {
      // :before is the right page edge
      @include makemearealboy;
      background: $paperedge;
      height: 100%;
      transform: rotateY(90deg);
      transform-origin: (0% 50%);
      z-index: 9;
    }
    &:after { //spine 
      transform: rotateY(90deg) translateZ(0px);
      left: 100%;
      background-size: 500% 200%, auto 100%;
      transform-origin: (0% 50%);
      background: inherit; // picks up BG image from parent (yay!)
      background-position: center center
    }
  }
  
  
  /* =======  POSING CLASSES ========== */
  
  // oclock notation: Viewer stands at 12 and model faces hour markers
  //     +------------+
  //     |  Viewer    |
  //     +------------+
  //           12
  //      11        1
  //  10       ^        2
  //           |
  // 9         |         3
  //       +-model-+
  //  8        +        4
  //
  //      7         5
  //           6
  //
  //+----------------------+
  //|  Class = '.clock-12' |
  //+----------------------+
  
  .oclock-12 .bookgroup {
    transform: rotateY(0deg) rotateX(0deg); //default view
  }
  .oclock-1 .bookgroup {
    transform: rotateY(-30deg) rotateX(0deg); //default view
  }
  .oclock-2 .bookgroup {
    transform: rotateY(-60deg) rotateX(0deg); //default view
  }
  .oclock-3 .bookgroup {
    transform: rotateY(-90deg) rotateX(0deg); //default view
  }
  .oclock-4 .bookgroup {
    transform: rotateY(-120deg) rotateX(0deg); //default view
  }
  .oclock-5 .bookgroup {
    transform: rotateY(-150deg) rotateX(0deg); //default view
  }
  .oclock-6 .bookgroup {
    transform: rotateY(-180deg) rotateX(0deg); //reverse side
  }
  .oclock-7 .bookgroup {
    transform: rotateY(-210deg) rotateX(0deg); //default view
  }
  .oclock-8 .bookgroup {
    transform: rotateY(-240deg) rotateX(0deg); //default view
  }
  .oclock-9 .bookgroup {
    transform: rotateY(-263deg) rotateX(0deg); //default view
  }
  .oclock-10 .bookgroup {
    transform: rotateY(-300deg) rotateX(0deg); //default view
  }
  .oclock-11 .bookgroup {
    transform: rotateY(-330deg) rotateX(0deg); //default view
  }
  
  
  
  
  
  
  
  .hover:hover .bookgroup {
    transform: rotateY(60deg) scale(1.05);
    transition: transform .35s ease-in-out;
    animation: spin $spin-speed infinite linear .35s;
    
    .backcover{
      animation: lightingeffect-back $spin-speed infinite ease-in-out ;
      
    }
    .cover:after{ // this effectively replaces the *actual* IMG element
    animation: lightingeffect-cover $spin-speed infinite ease-in-out (-$spin-speed/2); // delay: -half
    //border: 4px cyan dashed;
    }
  
    .backcover:after{ // the spine
    animation: lightingeffect-spine $spin-speed infinite ease-in-out (-$spin-speed/4);
    //border: 4px red dashed;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotateY(60deg) scale(1.05);
    }
    100% {
      transform: rotateY(420deg) scale(1.05);
    }
  }
  
  /* move the reflection/sheen layer across the surface */
  @keyframes lightingeffect-back { 
  0% { 
    background-position: -200% 100%, left top ;
    }
  25% { 
    background-position: -200% 100%, left top ;
    }
  50% { 
    background-position: 0% 100%, left top;
    }
  75% {
    background-position: 200% 100%, left top;
    }
  100% {
    background-position: 200% 100%, left top;
    }
  }
  @keyframes lightingeffect-spine { 
  0% { 
    background-position: -200% 100%, center top ; 
    }
  25% { 
    background-position: -200% 100%, center top ;
    }
  50% { 
    background-position: 0% 100%, center top;
    }
  75% {
    background-position: 200% 100%, center top;
    }
  100% {
    background-position: 200% 100%, center top;
    }
  }
  @keyframes lightingeffect-cover { 
  0% { 
    background-position: -200% 100%, right top ;
    }
  25% { 
    background-position: -200% 100%, right top ;
    }
  50% { 
    background-position: 0% 100%, right top;
    }
  75% {
    background-position: 200% 100%, right top;
    }
  100% {
    background-position: 200% 100%, left top;
    }
  }
  





  /* === VERTICAL GRID  === */ 

  body {
    position: relative;
}
body:active:after {
    display: none;
}
body:after {
    background: linear-gradient(to bottom, rgba(200,225,255,0.2) 1px, transparent 1px);
    background-size: 9px 9px;
    bottom: 0;
    margin-top: 0px;
    content: '';
    display: block;
    height: auto;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 9999;
}